@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.app {
  @apply relative flex justify-center items-center flex-col overflow-hidden;
}

.rotate-half {
  @apply transition-transform duration-500;
}

.rotate-half:hover {
  @apply transform rotate-180;
}

.hidescroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidescroll::-webkit-scrollbar {
  display: none;
}

.animated-btn {
  @apply block bg-gradient-to-r from-transparent to-transparent bg-200 bg-right-bottom transition-all duration-500 ease-out uppercase border border-mainGray;
}

.animated-btn:hover {
  @apply from-[#a749ff] via-[#a749ff] to-transparent bg-left-bottom;
}

.animated-btn-text {
  @apply text-center text-black text-lg leading-7 transition-all duration-500 ease-out block;
}

.animated-btn-text:hover {
  @apply text-white;
}

.main-animated-btn {
  position: relative;
  isolation: isolate;
}

.main-animated-btn::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: #a749ff;
  inset: 0;

  scale: 0 1;
  transform-origin: right;
  transition: scale 450ms;

}

.main-animated-btn:hover::after, .main-animated-btn:focus-visible::after {
  transform-origin: left;
  scale: 1 1;
}

@keyframes fillFromLeft {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 0 0;
  }
}