@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col;
}

.rotate-half {
  @apply transition-transform duration-500;
}

.rotate-half:hover {
  @apply transform rotate-180;
}

.hidescroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidescroll::-webkit-scrollbar {
  display: none;
}